.pagination {
  &__list {
    display: flex;

    column-gap: 3px;

  }

  &__button {
    @include reset-button;
    @include flex-center;
    @include square(14px);
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
    transition-duration: var(--transition-duration);

    color: var(--color-light);

    &.is-current {
      background-color: var(--color-accent);
    }
  }
}