.review-card{
  --reviewCardCornerWidth: 40px;
  --reviewCardOffsetLeft: 52px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  padding-bottom: 30px;

  @include mobile{
    row-gap: 44px;
    --reviewCardCornerWidth: 32px;
    --reviewCardOffsetLeft: 46px;
  }
  &__body{
    border: 1px solid var(--color-accent);
    border-radius: var(--border-radius-large);
    padding: 48px var(--reviewCardOffsetLeft) 52px;

    position: relative;

    @include  mobile{
      padding: 30px;
    }

    &:after{
      @include square(var(--reviewCardCornerWidth));
      content: '';
      position: absolute;
      top: 100%;
      left: var(--reviewCardOffsetLeft);
      translate: 0 -50%;
      border: inherit;
      background-color: var(--color-dark);
      rotate: 45deg;
      clip-path: polygon(100% 0, 0% 100%, 100% 100% );
    }
  }

  &__footer{
    display: flex;
    flex-direction: column;
    padding-left: calc(var(--reviewCardOffsetLeft) + var(--reviewCardCornerWidth) / 2);
  }

  &__name,
  &__company{
    font-style: normal;
  }
  &__name{
    color: var(--color-accent);
  }


}